@import url('https://fonts.googleapis.com/css2?family=Meow+Script&family=Montserrat&family=Nunito&display=swap');

body {
    background-color: #3c4044;
    color: #ecedf4;
    font-family: 'Nunito', sans-serif;
    margin: 0;
}

#logo {
    font-family: 'Meow Script', cursive !important;
    text-transform: none !important;
    font-size: 25px;
    padding: 0;
}

nav {
    background-color: #ecedf4;
    padding: 1% 1% 0 1%;
    color: #3c4044;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    z-index: 4;
    
}

.nav-bar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    text-align: center;
}

.nav-bar ul {
    list-style-type: none;
    display: flex;
    justify-content: space-around;
}

.nav-bar a {
    text-decoration: none;
    color: #3c4044;
}

header {
    text-align: center;
    padding-top: 75px;
    background-image: url(/assets/images/StockSnap_DRMAQNM3XT.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin: 0;
}

.about-us {
    display: block;
    text-align: center;
    margin-left: 20px;
    margin-right: 20px;
    background-color: #3c4044;
    padding: 1% 10% 1% 10%;

}

.about-us a {
    text-decoration: underline;
    color: #ecedf4;
}

#signature {
    display: inline-block;
    text-align: center;
    background-color: #ecedf4;
    color: #3c4044;
    width: 100%;
    padding-bottom: 1%;
}

.sig-1, .sig-2, .sig-3 {
    text-align: center;
    width: 30%;
    float: left;
    margin: 1%;
}

.sig-1 a {
    text-decoration: none;
    color:#3c4044
}

.sig-2 a {
    text-decoration: none;
    color:#ecedf4;
}
.sig-3 a {
    text-decoration: none;
    color: #3c4044;
}

.sig-2 {
    background-color: #3c4044;
    color: #ecedf4;
    width: 34%;
}

footer {
    background-color: #3c4044;
    color: #ecedf4;
    text-align: center;
    font-size: 15px;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    width: 100%;
    height: 5%;
    margin-top: 10px;
}

footer a {
    text-decoration: none;
    color: #ecedf4;
    font-size: 45px;
}

#footerSignature a {
    text-decoration: underline;
    font-size: 15px;
    text-transform: lowercase;
}

/* recipes.html page styles */

.recipes-header {
    text-align: center;
    padding-top: 75px;
    background-image: url(/assets/images/StockSnap_EQRBUSHVRN.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%;
    margin: 0;
}

.recipes {
    background-color: #ecedf4;
    color: #3c4044;
    text-align: center;
    padding-top: 1%;
    padding-bottom: 1%;
}

.recipes a {
    text-decoration: none;
    color: #3c4044;
}

.recipe-1, .recipe-2, .recipe-3 {
    background-color: #ecedf4;
    color: #3c4044;
    text-align: center;
    width: 33%;
    float: left;
}

.recipe-2 {
    width: 34%;
}

.recipe-4, .recipe-5, .recipe-6 {
    background-color: #ecedf4;
    color: #3c4044;
    text-align: center;
    width: 33%;
    float: left;
    padding-bottom: 1%;
}

.recipe-5 {
    width: 34%;
}

/* All Indidivual Recipe pages */
.recipes-accc-header {
    text-align: center;
    padding-top: 75px;
    background-image: url(/assets/images/StockSnap_OQFHR7KGN6.jpg);
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%;
    margin: 0;
}

.recipes-bpsm-header {
    text-align: center;
    padding-top: 75px;
    background-image: url(/assets/images/StockSnap_FQ5PQADGZ2.jpg);
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%;
    margin: 0;
}

.recipes-ccpc-header{
    text-align: center;
    padding-top: 75px;
    background-image: url(/assets/images/StockSnap_AVQS8DBY2Q.jpg);
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%;
    margin: 0;
}
.recipes-gsll-header{
    text-align: center;
    padding-top: 75px;
    background-image: url(/assets/images/StockSnap_EQRBUSHVRN.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%;
    margin: 0;
}
.recipes-pgm-header{
    text-align: center;
    padding-top: 75px;
    background-image: url(/assets/images/StockSnap_SVKREBA5TA.jpg);
    background-position: 50% 30%;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%;
    margin: 0;
}
.recipes-rtc-header{
    text-align: center;
    padding-top: 75px;
    background-image: url(/assets/images/StockSnap_VG2DQ2RTYC.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    height: 45vh;
    width: 100%;
    margin: 0;
}

.recipe-pages {
    background-color: #ecedf4;
    text-align: center;
    width: 100%;
    height: 900px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #3c4044;
}

.recipe-pages p {
    font-size: 1.5em;
    margin: 20px;
}

.recipe-pages-rtc p {
    font-size: 1.5em;
    margin: 20px;
}

.underline {
    width: 80%;
    height: 3px;
    background-color: #3c4044;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 10px;
}

.recipe-pages-rtc {
    background-color: #ecedf4;
    text-align: center;
    width: 100%;
    height: 1100px;
    padding-top: 1%;
    padding-bottom: 1%;
    color: #3c4044;
}

.ingredients {
    background-color: #ecedf4;
    color: #ecedf4;
    padding: 0 5% 0% 5%;
    width: 15%;
    float: left;
    height: auto;
    text-align: left;
    
}

.ingredients h3 h4 {
    text-align: center;
    text-decoration: underline;
}

.ingredients-bg {
    background-color: rgba(60, 64, 68, .6);
    padding: 0 10px 0 10px;
    border: #3c4044 dashed;
}

h3 {
    text-align: center;
    text-decoration: underline;
}

h4 {
    text-decoration: underline;
}

.instructions {
    background-color: #ecedf4;
    color: #3c4044;
    padding: 0 5% 0% 5%;
    width: 65%;
    float: left;
    height: auto;
    text-align: left;
}

 


/* Find Us Page */

.find-header {
    text-align: center;
    padding-top: 75px;
    background-image: url(/assets/images/StockSnap_JBIML0PF2C.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin: 0;
    color:#3c4044;
}

.find-us {
    background-color: #ecedf4;
    color: #3c4044;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 800px;
}

iframe {
    background-color: #3c4044;
    padding: 5px;
}

/* Contact Us Page */

header {
    text-align: center;
    padding-top: 75px;
    background-image: url(/assets/images/StockSnap_DRMAQNM3XT.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 50vh;
    width: 100%;
    margin: 0;
}

.contact-us {
    background-color: #ecedf4;
    color: #3c4044;
    text-align: center;
    width: 100%;
    padding-top: 1%;
    padding-bottom: 1%;
    height: 900px;
}

.form-area {
    color: #3c4044;
    max-width: 400px;
    height: 500px;
    padding: 5% 10% 15% 10%;
    margin: auto;
    border: 2px solid #3c4044;
}

.text-input-small {
    background: transparent;
    color: #3c4044;
    width: 100%;
    height: 25px;
    margin: 5px 0 20px 0;
    border: 2px solid #3c4044;

}

.text-input-big {
    background: transparent;
    color: #3c4044;
    width: 100%;
    height: 250px;
    margin: 5px 0 20px 0;
    border: 2px solid #3c4044;
}

.text-input-big:hover{
    border-color: rgba(60, 64, 68, 0.5);
}

.text-input-small:hover{
    border-color: rgba(60, 64, 68, 0.5);
}

.submit-message {
    border-radius: 2px;
    padding: 10px 15px 10px 15px;
    background-color: #3c4044;
    color:#ecedf4;
    font-size: 90%;
}

.submit-message:hover {
    background-color:#ecedf4;
    color: #3c4044;
}
